*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
.w_1440{
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}