*{margin: 0 ; padding: 0;}
body{
  background: #f1ffef;
}
.App{
  width: 300px;
  padding: 30px;
  margin: 100px auto 0;
  border: 3px solid #35485d;

}
table{
  border-collapse: collapse;
}
td{
  width: 100px ;
  height: 100px;
  text-align: center;
  border: 8px solid #efa977;
  box-sizing: border-box;
  font-size: 50px;
  font-weight: 700;
  color: #35485d;
}
.App h2{
  text-align: center;
}
.App span{
  font-size: 50px;
  color: red;
}